@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$base-color: #8dd3bb;

@font-face {
  font-family: "TradeGothic LT Extended";
  src: url("./Trade\ Gothic\ LT\ Std\ Extended/TradeGothicLTStdExtended.otf");
}

@mixin text-style {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@mixin button {
  border: none !important;
  border-radius: 4px !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding:14px;
  &:hover {
    background: #8dd3bb !important;
    color: #112211 !important;
  }
}
