@import "./variable.scss";

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

//Hero session
.hero {
  padding: 30px;
  .stays {
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6)),
      url("../assets/heros/herobg.jpg");

    background-position: 50%;
    background-size: cover;
    border-radius: 24px;
    height: 563px;
  }

  .navfont {
    @include text-style();
    color: #ffffff;

    .flight-img-logo {
      margin-right: 33.5px;
    }
    .Signup {
      @include text-style();
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 8px;
      border: none;
      width: 104px;
      height: 48px;
      background: #ffffff;
      border-radius: 8px;
      color: black;

      &:hover {
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255);
      }
    }
    .Login {
      @include text-style();
      border: none;
      background-color: transparent;
      padding-right: 32px;
    }
  }

  .responsive-flight {
    display: none;
    @media (max-width: "768px") {
      display: inline;
    }
  }
  .flight-nav {
    display: inline;
    @media (max-width: "768px") {
      display: none !important;
    }
  }

  .hero-title {
    font-family: "TradeGothic LT Extended";
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-top: 54px;

    .help-others {
      font-size: 45px;
      line-height: 57px;
      @media (max-width: "768px") {
        font-size: 36px;
      }
      @media (max-width: "576px") {
        font-size: 30px;
      }
      @media (max-width: "320px") {
        font-size: 18px;
        line-height: 30px;
      }
    }
    .live-travel {
      font-size: 80px;
      line-height: 101px;
      @media (max-width: "768px") {
        font-size: 65px;
      }
      @media (max-width: "576px") {
        font-size: 54px;
      }
      @media (max-width: "320px") {
        font-size: 30px;
        line-height: 50px;
      }
    }
    .offers {
      @include text-style();
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      @media (max-width: "576px") {
        line-height: 0;
        font-size: 16px;
      }
      @media (max-width: "320px") {
        line-height: 0;
        font-size: 12px;
      }
    }
  }
}

.navbar-collapse {
  flex-grow: 0 !important;

  @media (max-width: "768px") {
    position: absolute;
    z-index: 1;
    top: 70px;
  }
}
